@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  [type="text"],
  input:where(:not([type])),
  [type="email"],
  [type="url"],
  [type="password"],
  [type="number"],
  [type="date"],
  [type="datetime-local"],
  [type="month"],
  [type="search"],
  [type="tel"],
  [type="time"],
  [type="week"],
  [multiple],
  textarea,
  select {
    @apply w-full border-gray-300 rounded-md shadow-sm focus:border-sky-500 focus:ring-sky-500;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply rounded border-gray-300 text-sky-600 focus:ring-sky-500;
  }
}

@layer components {
  .form-section {
    @apply border border-gray-300 rounded-lg p-6;
  }
  .form-section-title {
    @apply text-base font-bold mb-1;
  }
  .form-section-description {
    @apply text-sm mb-3;
  }
  .form-fieldset {
    @apply grid auto-rows-auto md:grid-cols-2 gap-6;
  }
  .form-field {
    @apply flex flex-col gap-1 relative;
  }
  .form-label {
    @apply w-full text-xs text-gray-400;
  }
  .required {
    @apply required:border required:border-red-500;
  }
  .error-message {
    @apply text-red-500 text-xs absolute -bottom-5 invisible peer-required:visible;
  }
}
